---
// Component Imports
import MainHead from "../components/MainHead.astro";
import Button from "../components/Button/index.jsx";
import PortfolioPreview from "../components/PortfolioPreview/index.jsx";
---

<html lang="en">
	<head>
		<MainHead
			title = "Evan Tu | Full Stack Developer",
            description = "Evan Tu's Portfolio Website",
		/>
		<style lang="scss">
			$w-s: 750px;

			:root {
			  --gradient: radial-gradient(
			    circle at top left,
			    #845ec2,
			    #d65db1,
			    #ff6f91,
			    #ff9671,
			    #ffc75f
			  )
			}

			@keyframes bg-animation {

			    0% {
                    background-position: 0% 50%;
                }
                50% {
                    background-position: 100% 50%;
                }
                100% {
                    background-position: 0% 50%;
                }

			}


			.hero {
				position: relative;
				overflow: hidden;
                height: 100vh;
			}

			.img {
				display: block;
				width: 100%;
				height: auto;
			}

            .social {
                width: 3rem;
                height: 3rem;

            	z-index: 2;
            }

			.gradient,
			.gradient2 {
			    filter: brightness(130%);
				background-image: var(--gradient);
				background-size: 1000%;
				pointer-events: none;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				animation: bg-animation 10s infinite alternate;
				z-index: 2;
			}

			.gradient2 {
				mix-blend-mode: multiply;
				background-size: cover;
			}

			.overlay {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 10;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;
				padding-left: 2rem;

				@media (min-width: $w-s) {
					padding-left: 4rem;
				}
			}

			.title {
				font-weight: 900;
				font-size: var(--f-u4);
				margin-bottom: 0.5rem;
				margin-top: 0;

				@media (min-width: $w-s) {
					font-size: var(--f-u10);
				}
			}

			.social {
			    width: 25px;
			    height: 25px;

			    @media (min-width: $w-s) {
                     width: 50px;
                    height: 50px;
                }
			}

           .actions {
             text-decoration: none;
             color: black;
            }

			.actions-group {
		        margin-top: 1em;
		    }

		    .actions-group:hover {
		        cursor: pointer;
            }
		</style>
	</head>
	<body>
		<header class="hero">
			<div class="gradient"></div>
			<div class="gradient2"></div>
			<div class="overlay">
				<h1 class="title">
					Evan Tu | Software Developer <a href="https://github.com/evanjt06" target={"_blank"} rel={"noopener noreferrer"}>
                                                                                         <svg  class="social"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                                                                             <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                                                                                         </svg>
                                                                                     </a>
				</h1>
				<div class="actions-group">
					<Button><a href="/projects" class="actions">View My Work</a></Button>
					<Button><a href="/resume.pdf" class="actions">View My Resume</a></Button>
				</div>
			</div>
	</body>
</html>
