---
// Component Imports
import MainHead from "../components/MainHead.astro";
import Button from "../components/Button/index.jsx";
import PortfolioPreview from "../components/PortfolioPreview/index.jsx";
---

<html lang="en">
	<head>
	    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
		<MainHead
			title = "Evan Tu",
            description = "Evan Tu's Portfolio Website",
		/>
		<style lang="scss">

			$w-s: 750px;

			:root {
			  --gradient: radial-gradient(
			    circle at top left,
			    #845ec2,
			    #ffc75f
			  )
			}

			@keyframes bg-animation {

			    0% {
                    background-position: 0% 50%;
                }
                50% {
                    background-position: 100% 50%;
                }
                100% {
                    background-position: 0% 50%;
                }

			}


			.hero {
				position: relative;
				overflow: hidden;
                height: 100vh;
			}

			.img {
				display: block;
				width: 100%;
				height: auto;
			}

            .social {
                width: 3rem;
                height: 3rem;

            	z-index: 2;
            }

			.gradient,
			.gradient2 {
			    filter: brightness(120%);
				background-image: var(--gradient);
				background-size: 1000%;
				pointer-events: none;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				animation: bg-animation 7s infinite alternate;
				z-index: 2;
			}

			.gradient2 {
				mix-blend-mode: multiply;
				background-size: cover;
			}

			.overlay {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 10;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;
				padding-left: 2rem;

				@media (min-width: $w-s) {
					padding-left: 4rem;
				}
			}

			.title {
				font-weight: 900;
				font-size: var(--f-u4);
				margin-bottom: 0.5rem;
				margin-top: 0;

				@media (min-width: $w-s) {
					font-size: var(--f-u10);
				}
			}

			.social {
			    width: 25px;
			    height: 25px;

			    @media (min-width: $w-s) {
                     width: 50px;
                    height: 50px;
                }
			}

           .actions {
             text-decoration: none;
             color: black;
            }

			.actions-group {
		        margin-top: 1em;
		    }

		    .actions-group:hover {
		        cursor: pointer;
            }
		</style>
	</head>
	<body>

		<header class="hero">
			<div class="gradient"></div>
			<div class="gradient2"></div>
			<div class="overlay">
				<h1 class="title">
					Evan Tu | <span id="typer"></span>
				</h1>
				<div class="actions-group">
					<Button><a href="/projects" class="actions">View My projects</a></Button>
					<Button><a href="/work" class="actions">View My Work Experiences</a></Button>
					<Button><a href="/resume.pdf" class="actions">View My Resume</a></Button>
					<Button><a href="https://www.github.com/evanjt06" class="actions">View My Github</a></Button>
				</div>
			</div>
	    </header>

	</body>
</html>
