---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer/index.jsx";
import Nav from "../components/Nav/index.jsx";
import PortfolioPreview from "../components/PortfolioPreview/index.jsx";

const projects = (await Astro.glob("./project/**/*.md"))
	.filter(({ frontmatter }) => !!frontmatter.publishDate)
	.sort(
		(a, b) =>
			new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf()
	);
---

<html lang="en">
	<head>
		<MainHead
			title="Evan Tu | Work Experiences"
			description="Learn about Evan Tu's most recent work experiences"
		/>
        <style lang="scss">
            .grid
            {
                display: grid;
                grid-gap: 3rem;
                margin: auto;
                width: 85%;
            }

            .work-title {
                font: revert !important;
                font-size: 2.5em;
                margin-bottom: -0.25em;
            }

            .timeline-img {
            border-radius: 50%; width: 60px; height: 60px;
            }

             @media (max-width: 420px) {
                .work-title {
                      font-size: 1.5em !important;
                       margin-bottom: 0;
                       margin-top: 1em;
                }
                 .grid {
                    width: 100%;
                    grid-gap: 1rem;
                }
                .timeline-header {
                      font-size: 1em !important;
                      margin-bottom: 10px;
                }
                .color-contrast-medium {
                    font-size: 0.85em !important;
                }
                .timeline-img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
            }
        </style>
        <link href="/timeline.css" rel="stylesheet" />
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<div class="grid">

                  <h1 class="work-title">My Work Experiences</h2>
                  <section class="cd-timeline" style="font: revert !important;">
                    <div class="container max-width-lg cd-timeline__container">

                      <div class="cd-timeline__block">

                      <div class="cd-timeline__img">
                            <img class="timeline-img" src="/playyouth.JPG" />
                      </div>

                        <div class="cd-timeline__content text-component">
                          <h2 class="timeline-header">Founder of PLAY Coding, 2020</h2>
                          <p class="color-contrast-medium">
                          - Founded a coding organization that teaches Web Development (HTML, CSS, JS), Python, and Java to elementary and middle school students in the Bay Area.
                          </p>
                          <p class="color-contrast-medium">
                          - Organized multiple coding classes throughout the year, and have successfully led a team of 4 people to teach about 10-15 kids per class.
                          </p>


                        </div> <!-- cd-timeline__content -->
                      </div> <!-- cd-timeline__block -->

                      <div class="cd-timeline__block">

                        <div class="cd-timeline__img">
                               <img class="timeline-img" src="https://c8.alamy.com/comp/2E2PJKR/vector-logo-of-a-tutor-educational-courses-2E2PJKR.jpg" />
                          </div>

                        <div class="cd-timeline__content text-component">
                          <h2 class="timeline-header">Volunteer Tutor, 2020-present</h2>
                          <p class="color-contrast-medium">
                           - Tutored various students from elementary school to middle school in subjects such as English, math, science, music, and programming for about 2-4 hours per week.
                          </p>


                        </div> <!-- cd-timeline__content -->
                      </div> <!-- cd-timeline__block -->

                      <div class="cd-timeline__block">

                    <div class="cd-timeline__img">
                        <img class="timeline-img" src="https://hackplus.io/img/logos/logo.svg" />
                    </div>

                        <div class="cd-timeline__content text-component">
                         <h2 class="timeline-header">Software Engineer Intern at Hack+, 2022-present</h2>
                          <p class="color-contrast-medium">
                            - Helped develop a finance-based web application to help students start their own businesses and ventures
                          </p>

                            <p class="color-contrast-medium">
                             - Worked closely in a team of four developers to push feature sets (transactions, invoices) and resolve issues in development
                            </p>

                        </div> <!-- cd-timeline__content -->
                      </div> <!-- cd-timeline__block -->

                    </div>
                  </section> <!-- cd-timeline -->
			</div>
		</div>
		<Footer  />
	</body>

</html>
