---
import "../styles/global.scss";
const {
	title = "Evan Tu | Full Stack Developer",
	description = "Evan Tu's Portfolio Website",
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{title}</title>

<link rel="icon" type="image/x-icon" href="/et.jpeg" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;900&display=swap"
	rel="stylesheet"
/>
<script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
<script>

if (typeof window !== 'undefined') {
    const app = document.getElementById("typer")
    const typewriter = new Typewriter(app, {
       loop: true,
       delay: 75,
     });

     typewriter
       .pauseFor(300)
       .typeString('Software Engineer')
       .pauseFor(600)
       .deleteChars(17)
       .pauseFor(200)
       .typeString('Web Developer')
        .pauseFor(600)
       .deleteChars(17)
         .pauseFor(200)
        .typeString('iOS Developer')
         .pauseFor(600)
        .deleteChars(17)
       .pauseFor(200)
        .typeString('High School Student')
        .pauseFor(600)
       .deleteChars(17)
      .pauseFor(200)
       .start();
}
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-W8J3PT8JGE"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-W8J3PT8JGE');
</script>
