.footer {
  text-align: center;
  padding: 8rem 2rem 4rem;
  font-size: 16px !important;
}

.byline {
  display: block;
  margin-top: 1rem;
  color: var(--t-subdue);
  font-size: var(--f-d2);
  text-transform: lowercase;
}
